@model WebApplication1.Models.Games

@{
    ViewData["Title"] = "Detalle";
}

<h1>Detalle</h1>

<div>
    <h4>Juego</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Percent_Rent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Percent_Rent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reward_Cooler_Coins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reward_Cooler_Coins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Géneros")
        </dt>
        <dd class="col-sm-10">
            @foreach (var genres in Model.GamesGenres)
            {
                @genres.Genres.Description <br />
            }
        </dd>
    </dl>

    @if (Model.Comments != null)
    {
        <h3>Comentarios sobre el juego</h3>
        <table class="table">
            <tr>
                <th>Comentario</th>
            </tr>
            <div>
                <a asp-action="CreateComment" asp-route-id="@Model?.IdGame">Agregar Comentario</a>
            </div>

            @foreach (var item in Model.Comments)
            {
                string selectedRow = "";
                if (item.IdComment == (int?)ViewData["IdComment"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @item.Comment
                    </td>
                    <td>
                        <a asp-action="DeleteComment" asp-route-id="@item.IdComment">Eliminar</a>
                    </td>
                </tr>
            }

        </table>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdGame">Editar</a> |
    <a asp-action="Index">Volver al listado</a>
</div>
