@model WebApplication1.Models.CoolerViewModels.GamesIndexData

@{
    ViewData["Title"] = "Index";
}

<h1>Juegos</h1>

<p>
    <a asp-action="CreateGame">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Importe
            </th>
            <th>
                Porcentaje Alquiler
            </th>
            <th>
                Cooler Coins
            </th>
            <th>
                Categorias
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Games) {
        string selectedRow = "";
            if (item.IdGame == (int?)ViewData["idGame"])
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percent_Rent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward_Cooler_Coins)
            </td>
            <td>
                @foreach (var genres in item.GamesGenres)
                {
                    @genres.Genres.Description <br />
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGame">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdGame">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGame">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
